<div class="top-content">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
       <img src="assets/logo.png">
      </div>
    </div>
<router-outlet></router-outlet>

  </div>

</div>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">
        <div class="footer-border"></div>
        <p>Made by  <a href="https://www.facebook.com/groups/DevC.Casablanca" target="_blank"><strong>Developer Circle Casablanca</strong></a>
          <i class="fa fa-smile-o"></i></p>
      </div>

    </div>
  </div>
</footer>
